<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>724373166676-5o4tiei3c3jdpsbbq5m8qisdpmaglkfc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724373166676-5o4tiei3c3jdpsbbq5m8qisdpmaglkfc</string>
	<key>API_KEY</key>
	<string>AIzaSyA91al_gKK96JC7OLyrQ0PYG9XUqm5f9jU</string>
	<key>GCM_SENDER_ID</key>
	<string>724373166676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>callysto</string>
	<key>PROJECT_ID</key>
	<string>callysto-6286f</string>
	<key>STORAGE_BUCKET</key>
	<string>callysto-6286f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724373166676:ios:59d66c2e2c22cfa2e4abc1</string>
</dict>
</plist>
